:root {
  color-scheme: light;
  --color-black: 0 0 0;
  --color-base-1: 255 255 255;
  --color-base-2: 248 248 249;
  --color-base-3: 232 233 235;
  --color-base-4: 220 221 225;
  --color-inverted-1: 55 30 86;
  --color-inverted-2: 82 91 101;
  --color-inverted-3: 232 233 235;
  --color-inverted-4: 248 248 249;
  --color-on-primary: 255 255 255;
  --color-on-success: 255 255 255;
  --color-on-danger: 255 255 255;
  --color-on-warning: 255 255 255;
  --color-on-inverted: 255 255 255;
  --color-on-base: 70 55 88;
  --color-on-base-2: 82 91 101;
  --color-on-base-3: 160 168 182;
  --color-primary-light: 228 243 243;
  --color-primary: 43 196 195;
  --color-primary-dark: 12 152 152;
  --color-primary-bold: 0 72 82;
  --color-tertiary-light: 82 91 101;
  --color-tertiary: 82 91 101;
  --color-tertiary-dark: 99 105 112;
  --color-tertiary-bold: 71 75 80;
  --color-success-light: 232 246 223;
  --color-success: 114 203 59;
  --color-success-dark: 88 161 43;
  --color-success-bold: 62 113 30;
  --color-danger-light: 255 214 219;
  --color-danger: 229 0 25;
  --color-danger-dark: 184 0 21;
  --color-danger-bold: 122 0 14;
  --color-warning-light: 255 245 214;
  --color-warning: 255 194 14;
  --color-warning-dark: 224 168 0;
  --color-warning-bold: 163 122 0;
  --color-secondary-light: 244 250 253;
  --color-secondary: 240 250 250;
  --color-secondary-dark: 219 235 235;
  --color-secondary-bold: 91 162 196;
  --color-orange-promax: 255 64 7;
  --color-google: 234 67 53;
  --color-google-dark: 208 56 44;
  --color-google-bold: 180 46 35;
  --color-google-red: 255 76 76;
  --color-google-blue: 54 141 247;
  --color-google-purple: 137 20 204;
  --color-google-green: 139 195 74;
  --color-google-yellow: 244 180 0;
  --color-card-stroke: 206 212 216;
  --color-card-stroke-2: 163 170 181;
  --color-card-shadow: 225 228 231;
  --color-focus: 86 144 247;
  --color-focus-light: 243 248 255;
  --color-focus-dark: 37 150 190;
}

html {
  &[data-theme="dark"],
  &.dark {
    color-scheme: dark;
    --color-black: 0 0 0;
    --color-base-1: 60 60 60;
    --color-base-2: 40 40 40;
    --color-base-3: 30 30 30;
    --color-base-4: 50 51 55;
    --color-inverted-1: 200 200 200;
    --color-inverted-2: 255 255 255;
    --color-inverted-3: 100 100 100;
    --color-inverted-4: 40 40 40;
    --color-on-primary: 0 0 0;
    --color-on-success: 0 0 0;
    --color-on-danger: 0 0 0;
    --color-on-warning: 0 0 0;
    --color-on-inverted: 0 0 0;
    --color-on-base: 255 255 255;
    --color-on-base-2: 255 255 255;
    --color-on-base-3: 160 168 182;
    --color-primary-light: 58 73 73;
    --color-primary: 43 196 195;
    --color-primary-dark: 12 152 152;
    --color-primary-bold: 100 172 182;
    --color-tertiary-light: 82 91 101;
    --color-tertiary: 200 200 200;
    --color-tertiary-dark: 99 105 112;
    --color-tertiary-bold: 171 175 180;
    --color-success-light: 62 76 53;
    --color-success: 114 203 59;
    --color-success-dark: 88 161 43;
    --color-success-bold: 162 213 130;
    --color-danger-light: 85 44 49;
    --color-danger: 239 85 85;
    --color-danger-dark: 184 0 21;
    --color-danger-bold: 122 0 14;
    --color-warning-light: 85 75 44;
    --color-warning: 255 194 14;
    --color-warning-dark: 224 168 0;
    --color-warning-bold: 163 122 0;
    --color-secondary-light: 74 80 83;
    --color-secondary: 60 69 69;
    --color-secondary-dark: 219 235 235;
    --color-secondary-bold: 91 162 196;
    --color-orange-promax: 255 64 7;
    --color-google: 234 67 53;
    --color-google-dark: 208 56 44;
    --color-google-bold: 180 46 35;
    --color-google-red: 255 76 76;
    --color-google-blue: 54 141 247;
    --color-google-purple: 137 20 204;
    --color-google-green: 139 195 74;
    --color-google-yellow: 244 180 0;
    --color-card-stroke: 100 100 100;
    --color-card-stroke-2: 100 100 100;
    --color-card-shadow: 100 100 100;
    --color-focus: 221 221 221;
    --color-focus-light: 62 66 74;
    --color-focus-dark: 37 150 190;
  }
}
